html, body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}

#header {
  max-width: 800px;
  min-height: 300px;
  z-index: 100;
}

.avatar {
  padding-right: 10px;
}

.info {
  padding-left: 10px;
}

#content {
  max-width: 1170px;
  min-height: 75vh;
  /* background-color: red; */
  z-index: 1;
  font-size: 16px;
  line-height: 1.6;

}

section {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: gray; */
}

.timespan {
  line-height: 1.8;
}

.timespan-industry {
  color: #008acf;
}

.timespan-academia {
  color: brown;
}

.timespan-other {
  color: green;
}

li {
  margin-bottom: 10px;
}

/* #header .container {
  display: grid;
  gap: 100px;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "avatar info";
}

#header > .container > .avatar {
  grid-area: avatar;
}

#header > .container > .info {
  grid-area: info;
  border-color: blue;
  border-width: 5px;
  border-style: line;
  background: red;
} */

#avatar {
  border: medium solid red;
  border-width: 3px;
  border-radius: 100px;
  height: 196px;
}

/* hr {
  border: 1px solid red;
  flex-grow: 1;
  width: 100%;
} */

hr {
  margin: 0;
  flex-grow: 1;
  width: 100%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#particles-js {
  width: 100%;
  height: 100%;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

canvas {
  position: absolute;
  height: 300px;
}
